#menu ul {
    padding:0px;
    margin:0px;
    background-color:#07c5b0;
    list-style:none;
	width:100%;
	border-bottom:3px solid #EDEDED;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
   
    color: #fff;
    text-decoration: none;
  
}

#menu ul li a:hover {
    background-color:#4F4F4F;
    color: #fff;
    border-bottom:3px solid #EA0000;
}

#menu {
	width:100%;
	
	
}


#nome{
	width: 30%;
    margin: 0 auto;
	
}

body{
	background-color:#C0C0C0;
	
	
	
}

#conteiner{
	width: 13%;
    margin: 0 auto;
	
	
}